<?xml version='1.0' encoding='utf-8'?>
<widget id="com.loancentro.home" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0" >
    <name>LoanCentro</name>
    <description>
        Calculate if you are qualified for a loan
    </description>
    <author email="chuya000@gmail.com" href="http://chuya00.com">
        Jellan Quitos
    </author>
    <icon src="img/icon.png" gap:platform="ios" width="114" height="114" />
    <content src="index.html" />
    <access origin="*" />

</widget>
